@model Demo.Models.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>RegisterModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User_Name" class="control-label"></label>
                <input asp-for="User_Name" class="form-control" />
                <span asp-validation-for="User_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conform_Pwd" class="control-label"></label>
                <input asp-for="Conform_Pwd" class="form-control" type="password" />
                <span asp-validation-for="Conform_Pwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            @if (ViewBag.error != null)
            {
                <span class="badge badge-danger">@ViewBag.error</span>
            }
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>

                <input type="radio" name="Gender" value="M" />Male
                <input type="radio" name="Gender" value="F" />Female

                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Martial_Status" class="control-label"> Martial Status: </label>


                <select asp-for="Martial_Status">


                    <option>Single</option>
                    <option>Married</option>
                </select>
                <span asp-validation-for="Martial_Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" onclick="return alert('The user is successfully Registered.')" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
